<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>position</th>
            <th>rating</th>
            <th>experience</th>
            <th>subject</th>
            <th>school id</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="staff: ${listStaff}">
            <tr>
                <td>[[${staff.id}]]</td>
                <td>[[${staff.name}]]</td>
                <td>[[${staff.position}]]</td>
                <td>[[${staff.rating}]]</td>
                <td>[[${staff.experience}]]</td>
                <td>[[${staff.subject}]]</td>
                <td>[[${staff.school.getId()}]]</td>
                <td>
                    <a class="h4 mr-3" th:href="@{'/staff/edit/' + ${staff.id}}">Edit</a>
                    <a class="h4 mr-3" th:href="@{'/staff/delete/' + ${staff.id}}">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>